<!-- FOOTER -->

<footer style="background:rgb(41, 39, 39)">

  
    <div class="container">
  
      
      <div class="row d-flex justify-content-center pl-0 pl-sm-4">
  
        
        <div class="pt-2 ">
          <div class="mb-2 " id="footeric">
  
            <!-- Facebook -->
            <a class="fb-ic" href="https://facebook.com" style="color:white;text-decoration: none ">
              <i class="fab fa-facebook-f fa-xs white-text mr-md-5 mr-3 fa-2x text-center"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic" href="https://twitter.com" style="color:white;text-decoration: none ">
              <i class="fab fa-twitter fa-xs white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic" href="https://google.com" style="color:white;text-decoration: none ">
              <i class="fab fa-google-plus-g fa-xs white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic" href="https://linkedin.com" style="color:white;text-decoration: none ">
              <i class="fab fa-linkedin-in fa-xs white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            
           
            
            
          </div>
        </div>
        
  
      </div>
   
  
    </div>
    
  
  
    <div class="text-center  py-5 pr-0 pr-sm-4" style="color:white;background-color: black">© 2019 Copyright:
      <a href="/"> WorkSpace.com</a>
    </div>
  
  
  </footer>


                          
    
