</head>
<div class="loader">
        <i class="fas fa-sync-alt fa-3x fa-spin"></i>
</div>

<body>


<nav class="navbar  navbar-dark  navbar-expand-sm fixed-top" id="navani">

            <div class="navbar-header" style="color:white">
                    <img src="/Images/landingPage_images/projectlogo.svg" alt="logo" width="40px" height="40px" style="padding-right:0px;padding-bottom: 4px">
                    <div class="navbar-brand"><a href="javascript:history.back()" style="color:white;text-decoration: none;background: black">WorkSpace</a></div>
            </div>

            
    
            <button class="navbar-toggler" data-toggle="collapse" data-target="#cnb" id="hamBtn">
              <img src="/CSS/menu.svg" alt="" width="20px" >
            </button>
    
            
                
            
            
            <div class="collapse navbar-collapse" id="cnb">
            
                <ul class="navbar-nav" >
                
               
                
             

                <li class="nav-item">
                    <a class="nav-link" href="/workspace/contact" target="_blank" onMouseOver="this.style.color='blue'" onMouseOut="this.style.color='white'" style="color:white">Contact us</a>
                </li>

                <hr class="d-block d-md-none" style="width:100%;background-color:gray;height: 1px"> 

                <li class="nav-item d-block d-md-none">
                    <a class="nav-link" href="/workspace/logout"  onMouseOver="this.style.color='blue'" onMouseOut="this.style.color='white'" style="color:white;font-size: 1.3em"><b>Logout</b></a>
                </li>

            

             
             

                
                
                
                </ul>
            </div> 

            <div class="justify-content-end d-none d-sm-block">
                
                <div style="cursor: pointer;display: inline">
                        <i class="fas fa-sign-in-alt fa-lg">  </i> 
                        <a  href="/workspace/logout" class="noDecoration" style="color:white;text-decoration: none;font-weight: bold">Logout</a>
                </div>

                
            </div>
                
                
</nav>