.mainDiv{
    height: 100vh;
}

.blueDiv{
    height: 100vh;
    background-color: blue;

}

.listHolder{
    height: 100vh;
}

.scrollDiv{
    margin-top:70px;
    height: 88vh;
    overflow-y: scroll;
}

.reqHolder{
    height: 20vh;
    box-shadow: 0px 0px 10px gainsboro;
    margin-top: 20px;
    border-radius: 10px;
    margin-right: 10px;
}

.reqHolder:nth-of-type(1){
    margin-top: 0px;
}

.tCat{
    margin-top:-10px;
}

.tDec{
    margin-top:-17px;
}

.acptReq{
    color:white;
    background-color: blue;
    padding: 10px 20px 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
}


.scrollDiv::-webkit-scrollbar {
    width: 15px;
}

/* Track */
.scrollDiv::-webkit-scrollbar-track {
    border:2px solid rgb(233, 233, 233);
    border-radius: 5px;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
   
  /* Handle */
.scrollDiv::-webkit-scrollbar-thumb {
    background:rgb(204, 204, 204); 
    border-radius: 10px;
    transition: all 0.2s;
  }
  
  /* Handle on hover */
  .scrollDiv::-webkit-scrollbar-thumb:hover {
    background: rgb(175, 175, 175); 
  }
