.frlBox{
  height: 40vh;
  background-color: rgb(240, 240, 240);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgb(168, 167, 167);
}

.txtArea{
  border-radius: 10px;
}

.ratingBox{
  height: 40px;
  width: 350px;
  border-radius: 10px;
  border:1px solid rgb(158, 158, 158);
}

.subBtn{
  padding: 7px 17px 7px 17px;
  margin-left: 3px;
  border-radius: 10px;
  border:none;
  background-color: blue;
  color:white;
  font-weight: bold;
}

.scrollDiv{
    height: 86vh;
    overflow-y: scroll;
    width: 98.5%;
}

.scrollDiv::-webkit-scrollbar {
    width: 15px;
}

/* Track */
.scrollDiv::-webkit-scrollbar-track {
    border:2px solid rgb(233, 233, 233);
    border-radius: 5px;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
   
  /* Handle */
.scrollDiv::-webkit-scrollbar-thumb {
    background:rgb(204, 204, 204); 
    border-radius: 10px;
    transition: all 0.2s;
  }
  
  /* Handle on hover */
  .scrollDiv::-webkit-scrollbar-thumb:hover {
    background: rgb(175, 175, 175); 
  }