.blueBox{
    height: 100vh;
    background-color: blue;
}

.sendBtn{
    background-color: white;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    font-size: 1.3em;
    border-radius: 30px;
    transition: all 0.2s ;
    border:none;
}

.sendBtn:hover{
    box-shadow: 0px 0px 10px black;
}

.cHolder{
    height: 13vh;
    box-shadow: 0px 0px 7px gainsboro;
    border-radius: 10px;
    margin-top: 27px;
}

.cHolder:nth-of-type(1){
    margin-top: 0px;
}

.scrollDiv{
    overflow-y: scroll;
    margin-top:75px;
    height: 87vh;
}

.scrollDiv::-webkit-scrollbar {
    width: 15px;
}

/* Track */
.scrollDiv::-webkit-scrollbar-track {
    border:2px solid rgb(233, 233, 233);
    border-radius: 5px;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
   
  /* Handle */
.scrollDiv::-webkit-scrollbar-thumb {
    background:rgb(204, 204, 204); 
    border-radius: 10px;
    transition: all 0.2s;
  }
  
  /* Handle on hover */
  .scrollDiv::-webkit-scrollbar-thumb:hover {
    background: rgb(175, 175, 175); 
  }