<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" type="image/x-icon" href="/Images/landingPage_images/projectlogo.png"/>
        <title>WorkSpace</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
     

    <link rel="stylesheet" href="/CSS/freelancer/editResume.css">
        
    <!-- ANIMATE CSS LINK -->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    
    <!-- DEFAULT CSS -->

    <link rel="stylesheet" href="/CSS/pageDefault.css">
    
    
    <!-- BOOTSTRAP CSS -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- BOOTSTRAP JQUERY,JS -->
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/loadingAni.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/JS/loadingAni.js"></script>
    <script src="/JS/defaultPage.js"></script>
    
</head>
<div class="loader">
        <i class="fas fa-sync-alt fa-3x fa-spin"></i>
</div>

<body>


<nav class="navbar  navbar-dark  navbar-expand-sm fixed-top" id="navani">

            <div class="navbar-header" style="color:white" id="nav_head">
                    <img src="/Images/landingPage_images/projectlogo.svg" alt="logo" width="40px" height="40px" style="padding-right:0px;padding-bottom: 4px">
                    <div class="navbar-brand">WorkSpace</div>
                    
            </div>

            
    
            <button class="navbar-toggler" data-toggle="collapse" data-target="#cnb" id="hamBtn">
              <img src="/CSS/menu.svg" alt="" width="20px" >
                    
            </button>
    
            
                
            
        
                
                
</nav>


<div class="mainDiv">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 infoHolder" >
                <div class="forPadding">
                        <h1 class="mt-5 pt-4" style="color: blue;"><b>Resume</b></h1>
                        <% if(success && success.length > 0 ){%>
      
        
                            <div class="alert alert-info p-1 mt-0 mt-md-2 pos " style="width:80%;text-align: center;" role="alert">
                              <b ><%= success %></b>
                            </div>
                          
                          
                        <% } %>
                        <h4 class="mt-4">Skills</h4>
                      
                        <form action="/workspace/freelancer/editResume/skills" method="POST">
                            <input type="text" name="fskills" placeholder="Add your skills here" class="newInp">
                            <input type="submit" value="ADD" class="addBtn">
                        </form>
        
                        <h4 class="mt-5">Hobbies</h4>
                        <form action="/workspace/freelancer/editResume/hobbies" method="POST">
                            <input type="text" name="fhobbies" placeholder="Add your hobbies here" class="newInp">
                            <input type="submit" value="ADD" class="addBtn">
                        </form>
        
                        <h4 class="mt-5">Experience</h4>
                        <form action="/workspace/freelancer/editResume/experiences" method="POST" class="mb-5">
                            <input type="text" name="fexp" placeholder="Add your past experiences here" class="newInp">
                            <input type="submit" value="ADD" class="addBtn">
                        </form>
        
                        <a href="/workspace/freelancer/resume" class="fResume" style="text-decoration: none;color: white;">Finish writing Resume</a>
                      
                    
                        
                </div>
               

            </div>

            <div class="col-6 d-none d-md-block imageHolder">
                <img class="mt-5" src="/Images/newResume/newResume.svg" alt="" width="95%" height="90%">
            </div>
        </div>
    </div>
</div>



<!-- FOOTER -->

<% include ../partials/footerAcc %>


                          
    
</body>
</html>